    <main class="intro_main">
        <!-- 소개페이지 메인 -->
        <section class="intro_section intro_top_img">
            <div class="intro_top_txt">
                <p class="h_2">
                    <span>夜</span>하게 놀자, 대한민국 대표 야시장
                </p>
                <pv class="h_1">서문시장 야시장</p>
            </div>
        </section>

         <!--서문시장야시장--> 
        <section class="intro_section intro">

            <section class="intro_section intro_title1">  
                <article class="intro_title1_wrap">
                    <div>서문야시장</div>
                </article>
            </section>

            <article class="atc1">
                <div class="atc1_img">
                    <div class="img1"></div>
                </div>

                <div class="atc1_txt">
                    <span>
                        전 세계인과 함께하는, 대한민국 대표 야시장 ‘서문시장 야시장’<br>
                        여러분과 함께 만들어가는 夜한 테마파크!
                    </span>
                    <p>
                        <br>
                        서문시장 야시장은 2016년 6월에 개장한, 총거리 350M에 달하는 대형 야시장입니다.<br>
                        우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여 총 80대의 매대에서 다양한 먹거리, 살거리를 판매하며<br>
                        매일 저녁, 시민과 관광객에게 즐거움을 선사하는 복합문화공간입니다.<br>
                        특히, 먹거리 일색인 타 야시장과는 달리 먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로 펼쳐지는<br>
                        마법같은 관광지이기도 합니다.
                    </p>
                </div>
            </article>
        </section>

        <!--먹거리-->
        <section class="intro_section food">
            <section class="intro_section intro_title1">  
                <article class="intro_title1_wrap">
                    <div class="tit_food">먹거리</div>
                </article>
            </section>

            <article class="atc_wrap">
                <div class="wrap1">
                    <div class="img1"><div></div></div>
                    <div class="txt1">
                        <div class="txt1_wrap">
                            <span>보기만 해도 군침이 뚝뚝!</span>
                            <p>
                                <br>
                                고소한 육즙이 가득 담긴 고기부터, 싱싱한 바다의 맛, 해산물이 듬뿍 담긴 요리까지 !<br>
                                육해공 세상의 맛이 모두 모였습니다.<br>
                                달콤한 디저트까지 준비돼있으니,<br>
                                배부르게 먹고 즐기며 행복한 추억을 만들고 싶으시다면<br>
                                어서 서문 야시장으로 오세요!<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="wrap2">
                    <div class="txt2">
                        <div class="txt2_wrap">
                            <span>퓨전 요리로 전세계를 사로잡다!</span>
                            <p>
                                <br>
                                가까운 일본의 대표 메뉴인 스시부터 베트남식 쌀국수, 중국식 고추잡채까지 !<br>
                                멀리 떠나지 않아도 여기서 몽땅 맛보실 수 있으니<br>
                                올 여름 휴가는 대구 콜?!<br>
                            </p>
                        </div>
                    </div>
                    <div class="img2"><div></div></div>
                </div>
            </article>
        </section>
        
        <!--즐길거리-->
        <section class="intro_section enjoy">
            <section class="intro_section intro_title1">  
                <article class="intro_title1_wrap">
                    <div class="tit_enjoy">즐길거리</div>
                </article>
            </section>
            <article class="atc_wrap">
                <div class="wrap1">
                    <div class="img3"><div></div></div>
                    <div class="txt1">
                        <div class="txt1_wrap">
                            <span>눈으로 보고, 귀로 듣는 즐거움까지!</span>
                            <p>
                                <br>
                                야시장 옆 간이 테이블 옆 메인 무대에서는<br>
                                항상 여러분의 귓가를 간지럽힐 다양한 공연들이 준비되어 있답니다.<br>
                                감미로운 기타 연주와 노래, 다양한 퍼포먼스들을 무료로 마음껏 감상하세요!<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="wrap2">
                    <div class="txt2">
                        <div class="txt2_wrap">
                            <span>누구나 참가하는 댄스배틀파티 & 서문가요제</span>
                            <p>
                                <br>
                                댄서들의 불꽃 튀는 경연을 구경해보시는 건 어떨까요?<br>
                                그리고 아이부터 어른까지 , 그리고 외국인들까지<br>
                                불타는 열정을 가지고 참여한 뮤직 페스티벌!<br>
                                매주 열리는 이 행사는 당일마다 즉석으로 예선 신청을<br>
                                받고 있답니다.
                            </p>
                        </div>
                    </div>
                    <div class="img4"><div></div></div>
                </div>
            </article>
        </section>

        <!--볼거리-->
        <section class="intro_section show">
            <section class="intro_section intro_title1">  
                <article class="intro_title1_wrap">
                    <div class="tit_show">볼거리</div>
                </article>
            </section>

            <article class="atc_wrap">
                <div class="wrap1">
                    <div class="img5"><div></div></div>
                    <div class="txt1">
                        <div class="txt1_wrap">
                            <span>화려한 영상 퍼레이드, 야시장 미디어파사드!</span>
                            <p>
                                서문시장 주차타워 벽면을 빔에서 쏘아져나오는 화려하고<br>
                                멋진 영상들이 때론 아름답게, 때론 다이나믹하게<br>
                                서문 야시장의 밤하늘을 수놓습니다. <br>
                                화려한 영상의 퍼레이드, 야시장 미디어파사드 놓치지 마세요!<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="wrap2">
                    <div class="txt2">
                        <div class="txt2_wrap">
                            <span>아름다운 거리의 예술, 거리의 화가</span>
                            <p>
                                <br>
                                낭만적인 이름처럼 분위기있는 이 곳!<br>
                                SBS 예능인 런닝맨에도 출연하셔서 이광수님과 도경수 님께<br>
                                특별한 선물을 하기도 하셨죠!<br>
                                이후 중국, 필리핀 등 세계 곳곳의 팬 여러분들도 다녀가셨답니다.<br>
                                한번 들러서 인물초상화와 캐리커쳐를 받아보는 건 어떨까요? <br>
                            </p>
                        </div>
                    </div>
                    <div class="img6"><div></div></div>
                </div>
            </article>
        </section>

        <section class="intro_section btn">
            <article class="intro_btn_wrap">
                <div class="intro_btn1"><a href="">영업 시간           ⇒</a></div>
                <div class="intro_btn2"><a href="">오시는 길           ⇒</a></div>
            </article>
        </section>
    </main>