<main class="login_main">
     <section class="login_section">
            <div class="login_form">
                <h2>로그인</h2>
                <div>
                    <input type="text" name="login_id" placeholder="Username"> 
                </div>
                <div>
                    <input type="password" name="login_pw" placeholder="Password"> 
                </div>

                <button id="submit">Login</button>

                <div class="login_sub">
                     <ul class="login_sub_list">
                    <li><a href="">아이디찾기</a> | </li>
                    <li><a href="">&nbsp;비밀번호찾기</a> | </li>
                    <li><a href="signup">&nbsp;회원가입</a></li>
                    </ul>
                </div>

            </div>
    </section>
</main>
